body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right , black,  blue,rgb(114, 1, 1) );
}
.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:  rgba(41, 41, 41, 0.74);   
    align-items: center;
}
.cal{
    display: flex;
    flex-direction: column;
    
}
.cal {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.cal input{
    outline: 0;
    border: 1px solid gray;
    height: 30px;
    width: 100%;
    font-size: 15px;
    background-color: rgba(37, 34, 34, 0.562);
    color: white;
}


.cal input:focus,
.cal input:hover{
    border: 1px solid rgb(27, 40, 214);
}
.resul{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 5px;
}
#button{
    width: 200px;
    border-radius: 15px;
    background-color:  rgb(27, 40, 214);
}